@CHARSET "UTF-8";

.MG-panel {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 8px 8px 4px #888888;
    cursor: move;
    padding: 5px;
}

.MG-panel select {
    font-family: sans-serif;
    font-size: 10px;
    background: #f8f8f8;
}

.MG-panel div.MG-visible-lines {
    margin: 3px;
    float: right;
    background: #f8f8f8;
}