.NE-panel {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    /* box-shadow: 8px 8px 4px #888888; */
    cursor: move;
}

.NE-panel select {
    font-family: sans-serif;
    font-size: 10px;
    background: #f8f8f8;
}

.NE-panel div.gravity {
    margin: 3px;
    float: right;
    background: #f8f8f8;
}

.NE-panel div.charge {
    margin: 3px;
    float: right;
    background: #f8f8f8;
}

.NE-panel div.linkDistance {
    margin: 3px;
    float: right;
    background: #f8f8f8;
}

.NE-panel input.NE-Autocomplete {
    font-family: sans-serif;
    font-size: 10px;
    background: #f8f8f8;
    width: 95%;
}

.ui-menu-item {
    font-family: sans-serif;
    font-size: 10px;
}

.exitButton {
    float: right;
    margin-right: 5%;
    background: transparent;
    border: transparent;
    font-size: 15px;
}

.exitButton:active {
    border: none;
    outline:none;
}